<% if object.errors.any? %>
  <div id="validation_errors">
    <h2><%= pluralize(object.errors.count, "Lỗi") %> </h2>
 
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>