<div class="row">
    <footer id="admin-footer" class="clearfix">
      <div class="pull-left"><b>Copyright </b>&copy; 2015</div>
      <div class="pull-right">admin system</div>
    </footer>
  </div>