<div id="content">
    <p>
        <%= render 'validation_errors',object: @post %>
    </p>
    <header>
        <h2 class="page_title">Edit article</h2>
    </header>

    <div class="content-inner">
        <div class="form-wrapper">
            <%= render 'form' %>
        </div>
    </div>
</div>