<div id="content">
        <header class="clearfix">
            <h2 class="page_title">General blog settings</h2>
        </header>
    
        <div class="content-inner">
            <div class="row">
                <div class="col-md-6">
                    <%= render  "form" %>
                </div>
            </div>
        </div>
    
        <div class="row">
            <footer id="admin-footer" class="clearfix">
                <div class="pull-left"><b>Copyright </b>© 2015</div>
                <div class="pull-right">admin system</div>
            </footer>
        </div>
    </div>